
html, body, html * {
    font-family: 'Noto Sans KR', sans-serif;
}

.navTitle{
  font-size: 27px;
  color: white;
  padding: 1px 16px;
}

.mainContent {
    width: 70%;
    margin: 0 auto;
    background-color: #f1f1f1;
    padding: 20px 20px;
    min-height: 90vh;
}

.instruction-number {
    font-size: 52px;
    font-weight: bold;
    text-align: center;
}

.ingredients-list {
    padding-inline-start: 23px;
}

canvas{ display: block; vertical-align: bottom; }
#particles-js{ position:fixed; width: 100vw; height: 100vh; top: 0; left: 0; background-color: #ffb157; background-image: url(""); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; z-index: -1;}