/* Add a black background color to the top navigation */
.navTitle{
  font-size: 27px;
  color: white;
  padding: 1px 16px;
}

h1, h2, h3, h4, h5, h6, a, span, div {
    font-family: 'Noto Sans KR', sans-serif;
}

.mainContent {
    width: 70%;
    margin: 0 auto;
    background-color: #f1f1f1;
    padding: 20px 20px;
}

.body {
    background-color: #ffb157;
}